body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: bisque;
}

.site-title {
    color: rgb(158, 100, 29);
    font-weight: bold;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

li:nth-child(odd) {
    background-color: rgb(255, 243, 226);
}

nav a {
    text-decoration: none;
    background-color: rgb(192, 109, 2);
    color: bisque;
    border: 3px solid rgb(247, 173, 36);
}

nav a:hover {
    background-color: rgb(142, 79, 2);
}

/* I didn't know how to add box-shadow, list-style-type, and border, so I followed tutorials from this source: https://www.w3schools.com/css/default.asp */